/** Colors */
$primary-color: #f9b415;
$primary-color-disabled: #f9b41582;
$hover-color: #203768;
$shade: #2f3f57;
$medium-tint: #566e91;
$light-tint: #fffff0;
$secondary-background: #e1e3ed;
$blue-gradient: linear-gradient(180deg, #5f789e 0%, #4d6282 5%, #40516c 100%) 0%
  0%;
$gray-gradient: transparent
  linear-gradient(180deg, #ffffff 0%, #f7f7fc 2%, $secondary-background 100%) 0%
  0% no-repeat padding-box;
$gray-border: #b7b9c9;
$input-gradient: linear-gradient(180deg, $secondary-background 0%, #ffffff 100%)
  0% 0%;
$placeholder: #828ba3;
$title: #33394d;
$primary-text: #434b61;
$secondary-text: #5a6278;
$disabled: #333333b3;
$table-header: #edeff7;
$error-text: #c32b09;
$success-text: #0d6e61;
$warning-text: #b83d00;
$links: #015edf;
$dividers: #c7cad6;
$royalblue-custom: #3a59a6;

/** Fonts */
$primary-font: Encode Sans, sans-serif;
