@import './variables.scss';

*{
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.input-holder{
  margin-bottom: 40px;
  input, textarea {
    width: 100%;
    padding: 15px;
  }
}
