@import "../../../../src/app/scss/variables";
@import "../../../../src/app/scss/mixins";

.form-container {
  width: 550px;
  min-height: 500px;
  box-sizing: border-box;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0 0 21px 5px #00000026;
  border-radius: 2px;
  border-top: 8px solid $primary-color;
  @include mobile {
    width: 95%;
  }
  .form-header {
    width: 100%;
    margin-bottom: 16px;
    .title {
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      text-align: left;
    }
  }
  .subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 20px;
  }
}
