<!-- Form wrapper start -->
<div class="form-container">
  <!-- form header start  -->
  <div class="form-header">
    <span class="title"> {{ formTitle }} </span>
  </div>
  <p class="subtitle">
    Mit <strong>10 Jahren Erfahrung </strong> hilft Ihnen renovero unkompliziert
    Ihren <strong>Fachmann</strong>
    finden.
  </p>
  <!--/ form header end /-->

  <!-- form content start  -->
  <div class="form-holder">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <!-- dropdown component  -->
      <app-dropdown-select
        [label]="dropdownProps.label"
        [options]="dropdownProps.options"
        [placeholder]="dropdownProps.placeholder"
        [parentForm]="myForm"
        [formFieldTitle]="dropdownProps.formFieldTitle"
      >
      </app-dropdown-select>
      <!--/ dropdown component end  /-->

      <!-- textarea component  -->
      <app-text-area
        [label]="textareaProps.label"
        [parentForm]="myForm"
        [formFieldTitle]="textareaProps.formFieldTitle"
        [rows]="textareaProps.rows"
      ></app-text-area>
      <!--/ textarea component end /-->

      <!-- email component  -->
      <app-email-input
        [label]="emailProps.label"
        [parentForm]="myForm"
        [formFieldTitle]="emailProps.formFieldTitle"
      ></app-email-input>
      <!--/ email component end /-->

      <!-- submit button component  -->
      <app-form-submit
        buttonLabel="Submit"
        (onSubmitEvent)="onSubmitHandler()"
        [parentForm]="myForm"
        [buttonLabel]="buttonLabel"
      ></app-form-submit>
      <!--/ submit button component end /-->
    </form>
  </div>
  <!--/ form content end  /-->
</div>
<!--/ Form wrapper end /-->
