/** Colors */
$primary-color: #f9b415;
$primary-color-disabled: #f9b41582;
$text-color-disabled: #0000004d;
$theme-primary: #203768;
$secondary-color: #dbdfe7;
$error: red;

/** Fonts */
$primary-font: Encode Sans, sans-serif;
