<!-- form group passed from parent form  -->
<div class="input-holder" [formGroup]="parentForm">
  <div class="f-col">
    <label>{{ label }}</label>

    <div class="input-wrapper">
      <input
        type="text"
        [placeholder]="placeholder"
        (keyup)="filterOptionsHandler($event)"
        (click)="focused = !focused"
        [formControlName]="formFieldTitle"
        [class.invalid]="control.invalid && (control.dirty || control.touched)"
      />

      <span class="arrow-field" (click)="switchFocus()">
        <span class="arrow" [ngClass]="{ open: focused }"></span>
      </span>

      <app-dropdown-options
        [focused]="focused"
        [options]="options"
        (onOptionSelect)="optionSelectedHandler($event)"
      ></app-dropdown-options>
      <app-error-message [control]="control"></app-error-message>
    </div>
  </div>
</div>
