@import "../../../../assets/scss/variables";

.input-holder {
  // Input settings
  .input-wrapper {
    position: relative;
    .options-holder {
      // min-height: 200px;
      border: 1px solid $primary-color;
      overflow-y: auto;
      display: none;
      &.open-options {
        display: block;
        position: absolute;
        width: 100%;
        background: white;
        min-height: 30px;
        padding: 15px;
      }
      .option {
        display: block;
        padding: 8px 16px;
        border-bottom: 1px solid black;
        cursor: pointer;
        &:hover {
          background-color: $hover-color;
          color: white;
        }
      }
    }
    // Select arrow settings

    .arrow-field {
      width: 35px;
      height: 50px;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      .arrow {
        height: 9px;
        width: 9px;
        position: relative;
        // common arrow settings
        &::before,
        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          width: 0.15rem;
          height: 100%;
          transition: all 0.5s;
        }
        // individual arrow settings
        &::before {
          left: -3px;
          transform: rotate(-45deg);
          background-color: #203768;
        }
        // individual arrow settings
        &::after {
          left: 3px;
          transform: rotate(45deg);
          background-color: #203768;
        }
        &.open {
          &::before {
            transform: rotate(45deg);
          }
        }
        &.open {
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .error-message-holder {
    height: 15px;
  }
}
