@import "../../../../assets/scss/variables";

button {
  width: 100%;
  padding: 10px;
  background: $primary-color;
  border: none;
  cursor: pointer;
  &:disabled {
    background: $primary-color-disabled;
  }
}
